.el-icon-my-collapse{
    background: url(../images/myicon/collapse.svg) center no-repeat;
    background-size: cover;
    width:24px;
    height:24px;
}
.el-icon-my-export:before{
    content: "";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-supplier{
    background: url(../images/myicon/supplier.svg) center no-repeat;
    background-size: cover;
    width:16px;
    height:16px;
}

.el-icon-my-supplier:before{
    content: "";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-user{
    background: url(../images/myicon/user.svg) center no-repeat;
    background-size: cover;
    width:16px;
    height:16px;
}

.el-icon-my-user:before{
    content: "";
    font-size: 16px;
    visibility: hidden;
}
.el-icon-my-fullscreen{
    background: url(../images/myicon/fullscreen.svg) center no-repeat;
    background-size: cover;
    width:25px;
    height:25px;
}

.el-icon-my-fullscreen:before{
    content: "";
    font-size: 25px;
    visibility: hidden;
}
