.el-icon-my-collapse{
    background: url(../images/collapse.svg) center no-repeat;
    background-size: cover;
    width:16px;
    height:16px;
}
.el-icon-my-export:before{
<<<<<<< HEAD
    content: "";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-my-supplier{
    background: url(../images/supplier.svg) center no-repeat;
    background-size: cover;
    width:16px;
    height:16px;
}

.el-icon-my-supplier:before{
    content: "";
=======
    content: "A";
>>>>>>> 569d4d54e9977adaaacfe3c0949a31ba9e59cb88
    font-size: 16px;
    visibility: hidden;
}